@model UbicaMovil.ArqLimpia.BL.DTOs.EmpresaDTOs.EmpresaAddDTO

@{
    ViewData["Title"] = "Agregar - ";
}

<h1>CRUD con Google Maps</h1>

<form asp-action="Create" id="formularioUbicacion">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required>
    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" required>
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" required>
    <label for="horaEntrada">Hora de entrada:</label>
    <input type="time" id="horaEntrada" required>
    <label for="horaSalida">Hora de salida:</label>
    <input type="time" id="horaSalida" required>
    <label for="idCategoria">ID Categoría:</label>
    <input type="text" id="idCategoria" required>

    <label for="latitud">Latitud:</label>
    <input type="text" id="latitud" required>
    <label for="longitud">Longitud:</label>
    <input type="text" id="longitud" required>
    <button type="submit">Guardar ubicación</button>
</form>

<div id="mapa"></div>