@model UbicaMovil.ArqLimpia.BL.DTOs.EmpresaDTOs.EmpresaAddDTO

@{
    ViewData["Title"] = "Agregar - ";
}

<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link href="~/css/xmain.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">

<div class="py-5 bg-blue font-poppins">
    <div class="container py-md-5" id="x">
        <div class="container-md">
            <div class="card bg-dark text-white px-3 pt-2">
                <div class="card-body">
                    <h4 class="fs-3 text-center fw-bolder pt-5">Crea una empresa</h4>
                    <form method="POST">
                        <div class="pt-5">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label">Nombre</label>
                                    <input name="Nombre" type="text" class="form-control" id="nombre">
                                    <span validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Dirección</label>
                                    <input name="Direccion" type="text" class="form-control" id="direccion">
                                    <span validation-for="Direccion" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Teléfono</label>
                                    <input name="Telefono" type="text" class="form-control" id="telefono">
                                    <span validation-for="Telefono" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Hora de apertura</label>
                                    <input name="HorarioEntrada" type="time" class="form-control" id="horaEntrada">
                                    <span validation-for="HorarioEntrada" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Hora de cierre</label>
                                    <input name="HorarioSalida" type="time" class="form-control" id="horaSalida">
                                    <span validation-for="HorarioSalida" class="text-danger"></span>
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label">Latitud</label>
                                    <input name="Latitud" type="text" class="form-control" id="latitud">
                                    <span validation-for="Latitud" class="text-danger"></span>
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label">Longitud</label>
                                    <input name="Longitud" type="text" class="form-control" id="longitud">
                                    <span validation-for="Longitud" class="text-danger"></span>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Categoria</label>
                                    <input name="IdCategoria" type="number" class="form-control" id="idCategoria">
                                    <span validation-for="IdCategoria" class="text-danger"></span>
                                </div>
                                <div class="col-12 text-center py-3">
                                    <button type="submit" class="btn btn-info">Guardar</button>
                                    <a class="btn btn-outline-primary" asp-action="Index">Regresar</a><br />
                                    <span style="color:red">@ViewBag.ErrorMessage</span>
                                </div>
                            </div>
                        </div>
                        <div id="mapa"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCum27trvMaz6TpLQlZzF7521lkn-4EPt0&libraries=places&callback=inicializarMapa" async defer></script>

<script src="~/js/style.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}