@model UbicaMovil.ArqLimpia.BL.DTOs.CategoriaDTOs.CategoriaGetByIdDTO

@{
    ViewData["Title"] = "Eliminar - ";
}


<link href="~/css/xmain.css" rel="stylesheet" media="all">

<div class="py-5 bg-red font-poppins">
    <div class="py-5 container py-md-5" id="x">
        <div class="py-5 container-md">
            <div class="card bg-dark text-white px-3 pt-2">
                <div class="card-body">
                    <h4 class="fs-3 text-center fw-bolder pt-5">¿Estas seguro que quieres eliminar la categoria?</h4>
                    <form asp-action="Delete">
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Nombre
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>
                        </div>
                        <div class="col-12 text-center py-3">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            <a class="btn btn-outline-danger" asp-action="Index">Regresar</a><br />
                            <span style="color:red">@ViewBag.ErrorMessage</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/global.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}