@model UbicaMovil.ArqLimpia.BL.DTOs.CategoriaDTOs.CategoriaGetByIdDTO

@{
    ViewData["Title"] = "Detalles - ";
}
<link href="~/css/xmain.css" rel="stylesheet" media="all">

<div class="py-5 bg-gra-detalle font-poppins">
    <div class="container py-md-5" id="x">
        <div class="container-md">
            <div class="card bg-dark text-white px-3 pt-2">
                <div class="card-body">
                    <h4 class="fs-3 text-center fw-bolder pt-5">Detalles del registro</h4>
                    <form asp-action="Edit">
                        <div class="pt-5">
                            <div class="row g-3">
                                <div class="input-group text-white">
                                    <dt class="col-2">
                                        Nombre
                                    </dt>
                                    <dd class="col-10">
                                        @Html.DisplayFor(model => model.Nombre)
                                    </dd>
                                </div>
                                <div class="col-12 text-center py-3">
                                    @Html.ActionLink("Editar", "Edit", new {id = Model.Id}, new {@class = "btn btn-detalle"})
                                    <a class="btn btn-outline-light" asp-action="Index">Regresar</a><br />
                                    <span style="color:red">@ViewBag.ErrorMessage</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/global.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}