@{
    ViewData["Title"] = "";
}

<div class="container">
    <h1 class="text-center pt-3" id="titulo"><Strong>UbicaMovil</Strong></h1>
<p class="text-center fw-normal fs-5" id="lema">
    Empieza a buscando tus empresas con nuestro buscador
</p>
<!-- Contenedor del buscador -->
<div id="search-container">
    <!-- Campo de búsqueda con autocompletado -->
    <input id="search-input" type="text" placeholder="Buscar">
    <!-- Combo box para seleccionar el modo de transporte -->
    <select id="mode-select">
        <option value="DRIVING">Automóvil</option>
        <option value="WALKING">Caminando</option>
    </select>
    <!-- Botón para buscar -->
    <button class="btn btn-warning" id="search-button">Buscar</button>
</div>

<!-- Elemento contenedor del mapa -->
<div id="map"></div>

<!-- Elemento contenedor de las indiaciones -->
<div id="directions-panel" class="hidden"></div>
</div>