@{
    ViewData["Title"] = "";
}

<link rel="stylesheet" href="~/css/site.css" />

<!-- Script de la API de Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCum27trvMaz6TpLQlZzF7521lkn-4EPt0&libraries=places,directions"></script>

<div class="container">
    <h2 class="text-center pt-5 mt-2" style="color:#393939; font-family:'Segoe UI';">
        <Strong>UbicaMovil</Strong>
    </h2>
    <p class="text-center fw-lighter fs-6">
        Empieza a buscando tus empresas con nuestro buscador
    </p>

    <!-- Contenedor del buscador -->
    <div class="input-group my-3" id="search-container">
        <input class="form-control" id="search-input" type="text" placeholder="Buscar">
        <button class="btn btn-dark" type="button" id="search-button">
            <i class="bi bi-search"></i>
        </button>
    </div>

    <div class="row g-2 py-2">
        <!-- Combo box para seleccionar el modo de transporte -->
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="mode-select">
                    <option value="DRIVING">Automóvil</option>
                    <option value="WALKING">Caminando</option>
                </select>
                <label for="floatingSelectGrid">Modos de transportes</label>
            </div>
        </div>

        <!-- Combo box para seleccionar el modo de transporte -->
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="">
                    <option value="">Comunicaciones</option>
                    <option value="">Tecnologia</option>
                </select>
                <label for="floatingSelectGrid">Categoria de empresas</label>
            </div>
        </div>
    </div>

    <!-- Elemento contenedor del mapa -->
    <div class="py-3">
        <div id="map"></div>
    </div>

    <div class="card text-bg-dark mb-3">
        <div class="m-2 mt-4">
            <h5 class="text-center fw-lighter fs-5">
                Indicaciones para llegar a su destino
            </h5>
        </div>
        <div class="card-body" >
            <!-- Elemento contenedor de las indiaciones -->
            <div id="directions-panel" class="hidden"></div>
        </div>
    </div>
</div>

<!-- Inicializar el mapa al cargar la página -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCum27trvMaz6TpLQlZzF7521lkn-4EPt0&callback=initMap&libraries=places,directions"></script>

<script src="~/js/site.js"></script>
<body>
    <button id="butInstall" aria-label="Install" hidden>Instalar app</button>
    <div id="main"></div>

    <script>
        if ('ServiceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('Service-worker.js').then((reg) => {
                    console.log("Service worker registered", reg);
                })
            })
        }
    </script>
</body>